* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header {
  background-color: #ce1fc8a7;
  color: #fff;
  padding: 10px;
  text-align:center;
  position: absolute;
  top: 0; 
  left: -1; 
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(calculator.jpg);
}
.container {
  position: relative;
  left:2%;
  max-width: 300px;
  width: 100%;
  border-radius: 12px;
  padding: 10px 20px 20px;
  background: rgba(209, 20, 165, 0.329);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.display {
  height: 80px;
  width: 100%;
  outline: none;
  border: none;
  text-align: right;
  margin-bottom: 10px;
  font-size: 25px;
  color: #0e021bd1;
  pointer-events: none;
}
.buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.buttons button {
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #e5eef3ea;
}
.buttons button:active {
  transform: scale(0.99);
}
.operator {
  color: #ff2f2f;
}